header {
    margin: 0;
    position: sticky;
    top: 0;
    background-color: rgba(255, 255, 255, 0.47);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav {
    width: 35%;
}
nav ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}
ul a {
    font-weight: 500;
    text-decoration: none;
    font-size: 1.1em;
    background: linear-gradient(90deg, rgba(56,25,69,1) 0%, rgba(57,49,108,1) 51%, rgba(33,35,96,1) 100%);
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.2s ease-in-out;
}
ul a:hover {
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
ul li:last-of-type a {
    font-size: 1.7em;
}
form {
    display: flex;
    align-items: center;
    width: 20%;
    height: 35px;
}
form input {
    width: 90%;
    height: 100%;
    border-radius: 20px;
    border-style: none;
}
form button {
    font-size: 1.3em;
    background: none;
    border-style: none;
    margin-right: 50px;
    margin-left: 10px;
}

